{% extends "base.html" %}
{% block content %}
<form class="container" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_import">Select File</label>
        <input type="file" class="form-control-file" id="id_import" name="csv_file">
        <small id="importHelpBlock" class="form-text text-muted">Only .csv file allowed</small>
    </div>
    <div class="form-group">
        <label for="id_import">Zip Image File</label>
        <input type="file" class="form-control-file" id="id_import_zip" name="zip_file">
    </div>
    <div class="form-group">
        <input id="id_submit" type="submit" value="Upload">
    </div>
</form>
<script type="text/javascript">
    $('#id_import').on("change",function(){
        console.log($(this).val());
        fileExt = $('#id_import').val().split('.').pop().toLowerCase();
        if ($.inArray(fileExt, ['csv']) == -1){
            alert("Invalid File Extension! Only CSV file allowed.")
        }
    });
    $('#id_import_zip').on("change",function(){
        fileExt = $('#id_import_zip').val().split('.').pop().toLowerCase();
        if ($.inArray(fileExt, ['zip']) == -1){
            alert("Invalid File Extension! Please upload zip file")
        }
    });
</script>
{% endblock %}